/* CSS reset from http://meyerweb.com/eric/tools/css/reset/ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
    flex: 1;
    flex-direction: column;
}

html,body {
  height: 100%;
  background-color: #002b36;
  color: #93a1a1;
}

article {
	padding: 2em 2em;
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow-y:scroll;
}

.grid {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: baseline;
}

img {
    max-width: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.3em;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: row;
  -webkit-overflow-scrolling: touch;
}

p, blockquote {
  font-family: Georgia, serif;
  font-size: 1em;
  -webkit-font-smoothing: subpixel-antialiased;
  margin: 1em 0;
  max-width: 36rem;
}


a {
	color: #2aa198;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a , img
{
    width: 10em;
}

h1, h2 {
	font-weight: bold;
}

h3 {
	font-weight: lighter;
	-webkit-font-smoothing: subpixel-antialiased;
}

ol, ul {
	list-style: none;
}

small {
	color: #586e75;
}

section h2{
	margin: 1em 0 0;
}

iframe {
	flex: 1;
	position: absolute;
	left: 0; top: 0; right: 0; bottom: 0;
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
	/*
	box-sizing: border-box;
	overflow: hidden;
	*/
	pointer-events: all;
}

.overlay {
	z-index: 2;
	pointer-events: none;
}

.clickable {
	pointer-events: all;
	padding-bottom: 1em;
	padding-left: 2.125em;
	padding-right: 2.125em;
}

.corner {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
}


.clickable p {
	max-width: 100%;
}

.clickable a {
	border-bottom: 1px solid black;
}

.clickable a:hover {
	text-decoration: none;
	color: dodgerblue;
}


.splash > .big {
	font-family: Merriweather Sans;
	font-size: 7.5em;
	z-index: 2;
}

header, section {
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.content {
	flex: 1;
}

.content li {
	margin: 0.5em 0.5em;
}

.grid > .item {
  box-sizing: border-box;
  flex: 0 0 33.33%;
  margin-bottom: 1em;
  padding-right: 1em;
  display: flex;
  flex-direction: column;
  font-size: 1em;
  line-height: 1.4;
  -webkit-font-smoothing: subpixel-antialiased;
}


.grid > .item > a > img {
    border-radius: 12.5%;
}


.grid > .item > small {
	color: #657b83;
}

.grid:after {
	content: "";
	flex: auto;
}

@media (min-width: 60em) {

	article.center {
	    align-items: center;
	}

	div.writing {
		width: 36em;
	}

	article {
	    padding: 2em em;
	}

}

@media (max-width: 60em) {
	.grid > .item {
		flex: 0 0 50%;
	}

	article {
		padding: 2.125em 2em;
	}

}

@media (max-width: 50em) {
	.grid > .item {
		flex: 0 0 100%;
	}

	article {
		padding: 2.125em 2em;
	}
}

@media (max-width: 45em) {
	.cover iframe {
		display: none;
	}

	body {
		flex-direction: column;
	}
	
	.grid > .item {
		flex: 0 0 33.33%;
	}

	article {
		overflow-y: initial;
		padding: 2.125em 2.125em;
	}

	.third {
		display: flex;
		flex-direction: column;
	}

	.third > :first-child{
		box-sizing: initial;
		width: 100%;
		padding: 0;
	}

	.third > :nth-child(2){
		flex: initial;
		width: 100%;
		padding: 0;
	}

}

@media (max-width: 42em) {
	.grid > .item {
		flex: 0 0 50%;
	}
}

@media (max-width: 32em) {
	.grid > .item {
		flex: 0 0 100%;
	}
}

@media (max-width: 23em) {
	.experiment-description {
		display: none;
	}
}


@media print {
	::-webkit-scrollbar {
	    display: none;
	}

	body {
	    font-size: 0.9em;
	    line-height: 1.25;
	    display: block;
	    overflow-y: hidden;
	}

	nav {
		display: none;
	}

  article {
		display: block;
		padding: 2em 2em;
  }
}
